In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('insurance.csv')
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [5]:
x,y = df.drop('charges',axis=1) , df['charges']

In [6]:
df['smoker'].unique()

array(['yes', 'no'], dtype=object)

In [10]:
df[df['smoker'] == 'yes']['bmi'].std()/10

0.6318643982646204

In [ ]:
def ehnace(data):
    dfc = data.copy()
    for sm in dfc['smoker'].unique():
        bmi_std = dfc[dfc['smoker'] == sm]['bmi'].std()/10