# Exercises 26 and 27

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [2]:
import pandas as pd
import numpy as np

In [28]:
data = {'animal': ['cat', 'goat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'other': ['cat', 'cat', 'snake', 'dog', 'dog', 'cattle', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'animals': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal   other  age animals  visits priority
a    cat     cat  2.5     cat       1      yes
b   goat     cat  3.0     cat       3      yes
c  snake   snake  0.5   snake       2       no
d    dog     dog  NaN     dog       3      yes
e    dog     dog  5.0     dog       2       no
f    cat  cattle  2.0     cat       3       no
g  snake   snake  4.5   snake       1       no
h    cat     cat  NaN     cat       1      yes
i    dog     dog  7.0     dog       2       no
j    dog     dog  3.0     dog       1       no

In [ ]:
count = 0
idx=[]
for x in df:
    if x == 2:
        count = count + 1 
    if count == 3:
        print(numbers.index(x))
        
    #print(numbers.index(x))
#print("Sum of first ",count,"integers is: ")
print(idx)

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [5]:
data1 = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df = pd.DataFrame(data1)
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

C:\Users\T430\AppData\Local\Temp/ipykernel_27332/3558700482.py:4: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64